body {
  background: #fff;
}

div {
  display: block;
}
#top-right{
  position: absolute;
  right: 0;
  min-width: 210px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: right;
}

#top-right div {
  display: inline-block;
  position: relative;
  width: 42px;
}

#top-right .text {
  width: 42px;
  padding: 0 2px 0 2px
}

#top-right .text a{
  color: black;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

#top-right .text a:hover{
  text-decoration: underline;
}

#top-right .boxes{
  width: 30px;
  height: 30px;
  background: url(../images/spritesheet.png) -132px 30px;
  box-sizing: border-box;
  vertical-align: middle;
  color #000;
  opacity: 0.55;
}

#top-right .bell{
  width: 20px;
  height: 20px;
  background: url(../images/spritesheet.png) -194px 47px;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 50%;
  padding: 0 2px;
  margin: 5px;
  background-color: rgba(0,0,0,.55);
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
}

#top-right .account{
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: red;
}

#acc_l, #acc_l:hover, #acc_l:visited, #acc_l:active {
  font-family: monospace, fantasy, sans-serif, serif;
  position: inherit;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 4px;
  width: 24px;
  height: 24px;
}

#center{
  position: relative;
  top: 200px;
  min-width: 400px;
  min-height: 400px;
  margin: auto;
  text-align: center;
}

.main-logo img {
  width: 272px;
  height: 92px;
}

.logo-subtext {
  color: #4285f4;
  font: 16px/16px roboto-regular, arial, sans-serif;
  position: relative;
  left: 106px;
  top: -20px;
  white-space: nowrap;
}

.searchbar{
  position: relative;
  width: 480px;
  height: 67px;
  margin: 0 auto;
}

.bar, .formality input{
  width: 100%;
  padding: 12px 0px;
}

.keyboard-button, .microphone-button{
  position: relative;
  width: 40px;
  height: 44px;
  background-color: black;
  display: inline-block;
}

.keyboard-button img {
  position: relative;
  margin: auto;
  width: 19px;
  height: 11px;
}

.microphone-button img{
  position: relative;
  width: 18px;
  height: 23px;
  margin: auto;
}

.microphone-button{

}

.keyboard-button{

}
